
.formCreateUser{
    text-align: center;
    background-color: #000000;
    width: 35%;
    margin-left: 25%;
    border-radius: 10px;
}

.formCreateUser h1{
    margin: 10px;
    text-align: center;
    color:white
}
.label{
display: block;
font-size: larger;
color: white;
padding: 5px;
}

.input{
margin: 0 auto;
max-width: 320px;
border:  1px solid white;
border-radius: 10px;
margin: 5px;
height: 25px;
}
.btn{
color: white;
background-color: black ;
border-radius: 5px;
font-size: larger;
display: block;
padding: 5px;
margin: 10px auto;
}

.messages{
display: flex;
justify-content: center;
}

.error{
display: block;
background-color: red;
color: white;
width: fit-content;
height: 50px;
padding: 5px;
}

.success{
display: block;
background-color: lightblue;
color: white;
width: fit-content;
height: 50px;
padding: 5px;
}
